

<div class="mini">
  <div class="mini_img"><a href="/wojak/<%=data.id%>"><img src="/wojak/<%=data.id%>/img/mini" /></a></div>
  <div class="mini_data">
    <div class="mini_name"><a href="/wojak/<%=data.id%>"><%=data.name%></a></div>
    <div class="mini_user"><a href="/user/<%=data.user_id%>"><%=data.user%></a></div>
  </div>
</div>
