<!-- Temporaire -->
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/vertical_menu.css' />


<!-- Temporaire -->

<div class="vertical_menu">

    <div class="vm_up">
        <a href="/" class="link_img">
        <img src="/images/logo.png"/>
        </a>
        <div class="vm_title">It's a Bloody Wojak Gallery !</div>
    </div>
    <div class="vm_down">
        <div class="vm_down_title">Main Tags</div>
        <div class="vm_tags">
            <div class="vm_tag"><a href="/tag/<%=tags[0]%>">- <%=tags[0]%></a></div>
            <div class="vm_tag"><a href="/tag/<%=tags[1]%>">- <%=tags[1]%></a></div>
            <div class="vm_tag"><a href="/tag/<%=tags[2]%>">- <%=tags[2]%></a></div>
            <div class="vm_tag"><a href="/tag/<%=tags[3]%>">- <%=tags[3]%></a></div>
            <div class="vm_tag"><a href="/tag/<%=tags[4]%>">- <%=tags[4]%></a></div>
            <div class="vm_tag"><a href="/tag/<%=tags[5]%>">- <%=tags[5]%></a></div>
        </div>
    </div>

</div>